header, main, footer {
  	padding-left: 450px;
}

@media only screen and (max-width : 992px) {
  	header, main, footer {
		padding-left: 0;
  	}

    .page-title{
        margin-left: 0;
    }

    #div_logo{
        text-align: center;
    }
}

.page-title{
	font-size: 30px;
    margin-left: 3%;
}

.collapsible-body {
	padding: 0px;
    background-color: transparent !important;
}

.collapsible-body.with-parameters {
    padding: 0 16px !important;
}

.ul-options li {
	cursor: pointer;
}

#nav-mobile li.search {
    position: relative;
    left: 0;
    right: 0;
    margin-top: 1px;
    padding: 1px 0 0 0;
    z-index: 2;
}

#nav-mobile li.search .search-wrapper {
    margin: 0 12px;
    transition: margin .25s ease;
}

#original canvas, #result canvas{
    padding: 10px;
}

.featured-box{
    padding: 10px !important;
    background: #FFF;
}

#result .histogram{
    position: relative;
    width: 100%;
    height: 256px;
    border: 1px solid #333;
}
#result .histogram span{
    position: absolute;
    z-index: 1;
    padding: 5px;
    font-size: 13px;
    line-height: 1;
    background: rgba(0, 0, 0, .5);
    color: #FFF;
    text-shadow: 0 0 4px #000;
}
#result .histogram .histogram-min-x, #result .histogram .histogram-max-x{
    bottom: 0;
}
#result .histogram .histogram-min-x{
    left: 0;    
}
#result .histogram .histogram-max-x{
    right: 0;
}
#result .histogram .histogram-min-y{
    display: none;
}
#result .histogram .histogram-max-y{
    top: 0;
    left: 0;
}
#result .histogram .histogram-point{
    position: absolute;
    bottom: 0;
    width: 2px;
    background: #333;
}